In [1]:
import pandas as pd
from lazypredict.Supervised import LazyRegressor

In [2]:
X_train = pd.read_csv('/workspaces/ML-Algorithm/data/processed/X_train.csv')
X_train.head(3)

,age,job,marital,education,default,contact,month,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,-0.60,-1.00,1.00,-0.40,0.00,0.00,-0.67,-0.76,3.00,0.00,0.00,-0.91,-0.93,-0.70,-0.98,-0.71
1,-0.20,-0.50,1.00,0.60,0.00,-1.00,-0.67,-0.20,-0.50,0.00,0.00,0.00,0.27,0.86,0.00,0.00
2,0.80,0.00,0.00,-0.60,0.00,0.00,-0.33,-0.20,1.00,1.00,1.00,-0.87,0.33,0.32,-1.13,-1.55

In [3]:
X_test = pd.read_csv('/workspaces/ML-Algorithm/data/processed/X_test.csv')
X_test.head(3)

,age,job,marital,education,default,contact,month,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,-0.53,-1.00,1.00,-0.40,0.00,0.00,-0.67,0.37,0.00,0.00,0.00,-0.91,-1.07,-0.70,-0.97,-0.71
1,0.33,1.50,0.00,0.60,0.00,0.00,1.00,-0.56,-0.50,1.00,1.00,-0.38,-0.74,-0.03,-0.20,0.04
2,-0.93,0.00,0.00,0.00,0.00,0.00,2.00,-0.01,-0.50,0.00,0.00,-0.91,-0.87,-0.84,-0.95,-0.71

In [4]:
y_train = pd.read_csv('/workspaces/ML-Algorithm/data/processed/y_train.csv')
y_train.head(3)

   y
0  0
1  0
2  0

In [5]:
y_test = pd.read_csv('/workspaces/ML-Algorithm/data/processed/y_test.csv')
y_test.head(3)

   y
0  0
1  0
2  0

In [ ]:
reg = LazyRegressor()
models, predictions = reg.fit(X_train, X_test, y_train, y_test)

In [ ]:
print(models)